* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
@import './var/extend';


@import './secciones/navbar.scss';
@import './secciones/main_index';
@import './secciones/footer';
@import './secciones/main_clientes';
@import './secciones/main_servicio';
@import './secciones/main_faq';
@import './secciones/main_contacto';