.main_servicio {
    background-color: black;

    h2 {
        text-align: center;
        color: white;
        margin: 5px;
        border-radius: 30px;
        background: rgb(63,94,251);
        font-weight: 900;
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(126, 27, 169) 100%);
    }
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}