.main_index {
    background-color: black;

    h1 {
        text-align: center;
        color: white;
        margin: 5px;
        border-radius: 30px;
        background: rgb(63,94,251);
        font-weight: 900;
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(126, 27, 169) 100%);
    }
    .carousel.slide {
        .carousel-inner {
            display: flex;
            align-items: center;
            margin: auto 0;
        }
    }
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .mision {
        h3 {
            text-align: center;
        color: white;
        margin: 5px;
        border-radius: 30px;
        background: rgb(63,94,251);
        font-weight: 900;
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(126, 27, 169) 100%);
        }
        p {
            width: 60%;
            color: white;
            text-align: justify;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}

